/**
 *
 * Apply your custom CSS here
 *
*/

body {
    font-size: 14px;
    color: #000000;
}

a {
}
.form-horizontal .control-label {
    font-weight: bold;
    color: #656766;
}
.sidebar-menu .main-menu {
    padding-right: 15px;
}
.page-body.skin-navy .sidebar-menu .logo-env {
    background-color: #ffffff;
}
.sidebar-menu .logo-env {
    padding: 3px 45px;}
    
    .user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu {
    right: -1px;
    left: auto;
    width: 250px;
}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li a {
    display: block;
    color: #979898;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}